#footer {
    background: black;
    color: white;
    font-size: 14px;
    padding-top: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%; */
    margin-top: 10px;
}

img{
    display: block;
    width: 40%;
    height: auto;
}