#footer {
    background: black;
    color: white;
    position:sticky;
    font-size: 14px;
    padding-top: 5px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 10px;
    width: 100%;
    /* position: fixed; */
    
    flex-shrink: 0;
    
}

img{
    display: block;
    width: 40%;
    height: auto;
}