.input-field{
    margin-left: 2vw;
    width: 75%;
}
label{
    font-weight: bold;   
}

.imgcr{
    position: relative;
    width: 1300px;
    height: 250px;
    border-radius: 3px;
    z-index: 0;
}


.conimgcr{
    height: 300px;
    width: 1300px;
    border: 1px solid black;
    border-radius: 5px;
    left: 8%;
    position: relative;
    
}

.pncr{
    font-size: 4em;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    z-index: 1;
}

.slcr{
    margin-top: 90px;
    margin-left: 30px;
    font-size: 2em;
    font-weight: bold;
    color: white;
    position: absolute;
    z-index: 1;
}

.crform{
    margin-top: 90px;
    width: 1300px;
    border: 1px solid black;
    border-radius: 5px;
    left: 8%;
    position: relative;
}

.btncr{
    position: relative;
    left: 100%;
    width: 100px;
}