#search{
    width: 60%;
    margin: 2px 2px 2px 2px;
}
#search-box{
    margin-right: 5px;
}
#navbar{
    background-color: darkgreen;
    position: sticky; 
    top: 0;
    margin-bottom: 4vh;
    z-index: 1;
}

#btn-search{
    width: 10%;   
}
